/* C: Pas besoin de 2 css différents, on pouvait utiliser style dans les balises HTML (Voir header.tsx) */
.header-light {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;

  display: flex;
  justify-content: start;
}

.header-dark {
  background-color: white;
  color: #333;
  text-align: center;
  padding: 10px;

  display: flex;
  justify-content: start;
}

.logo {
  padding: 10px;
  height: 50px;
}
